@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

.snipcart-checkout {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.snipcart-total-price {
    color: #ffffff;
    font-size: 1rem;
}

.snipcart-items-count {
    color: #ffffff;
    font-size: 1rem;
    position: absolute;
    top: 40%;
}

#navScrolled {
    background-color: #000;
}